<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form Submission</title>
</head>
<body>
   
  <form method="get" action="/search">
    <label>email :</label>        
    <input name='texte1',type="email" , placeholder="Type answer1"/>
    <label>password  :</label> 
    <input name='texte2',type="name" , placeholder="Type answer2"/>
    <label></label> 
    <button>Submit</button>

</body>
</html>
